{% if article.date_time < time_now or article.slug == checkout_done %}
  <div class="text-danger">
    Auction finished
    <br />
  </div>
{% endif %}
{% if article.from_date > day %}
  <div class="text-info">
    Auction start:
    <br />
    {{ article.from_date }}
  </div>
{% endif %}
{% if article.date_time > time_now and article.from_date <= day and not article.slug == checkout_done %}
  <div class="text-success">
    {{ article.days_to_finish }} hours  left
    <br />
  </div>
{% endif %}
