{% load static %}

{% if article.date_time < time_now %}
  <div class="text-danger">
    Finished at:
    <br />
    {{ article.date_time }}
    <br />
  </div>
  <div class="text-success">See other more articles</div>
{% endif %}
{% if article.from_date > day %}
  <div class="text_info">{{ article.date_time }}</div>
  <div class="text-info">
    {{ article.date_time }}
    <br />
    Bid start:  {{ article.from_date }}
  </div>
{% endif %}
{% if article.date_time > time_now %}
  <div class="text-success">
    Ends at:
    <br />
    {{ article.date_time }}
    <br />
    Bid now!
  </div>
{% endif %}
