
@import url('project.css') screen and (max-width: 1768px);


@media(max-width: 1768px) {
  .navbar.bg-light {
    background-color: rgba(33,33,33) !important;
  }
}

#logo{
  background-color: rgb(33, 33, 33);
}
#category{
  background-color: rgb(33, 33, 33);
}
#cat_h5{
    color:white;
}
#all {
    color:white;
}
